{% extends "layout.html" %}

{% block title %}
 IWaCU FILMS | admin interface
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{static_autoversion('update.css')}}">
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('admin_home')}}">
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-target">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapse-target">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item mx-5 pt-3">
            <a class="nav-link" href="{{url_for('all_users')}}">users</a>
          </li>
          <li class="nav-item mx-5 pt-3">
            <a class="nav-link" href="{{url_for('videos_uploaded')}}">videos</a>
          </li>
          <li class="nav-item mx-5 pt-3">
            <a class="nav-link" href="{{url_for('upload_video')}}">upload</a>
          </li>
          <li class="nav-item dropdown ml-lg-5">
            <a href="#" class="nav-link dropdown-toggle" id="dropdownmenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" >
               <img alt="" class="img-fluid rounded-circle" src="{{url_for('view_profile')}}"/>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownmenu1">
                <li class="dropdown-item">
                   <a class="dropdown-item font-weight-bold" href="##">{{user.first_name}} {{user.last_name}}</a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="dropdown-item">
                  <a class="dropdown-item" href="{{url_for('admin_profile')}}">Profile</a>
                </li>
                <li class="dropdown-item">
                   <a class="dropdown-item" href="{{url_for('signout')}}">Signout</a>
                </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container main_div my-5 p-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 text-center">
            <div class="profile">
                <div class="profile_picture">
                    <img class="rounded-circle mb-3" src="{{url_for('view_profile')}}" height="200px" width="200px">
                </div>
            </div>
            <div class="profile-info">
              <h4 class="text-dark">{{user.first_name}}  {{user.last_name}}</h4>
              <div class="address pt-3">
                <h6> ADDRESS : {{user.email}}</h6>
              </div>
            </div>
            <div class="mt-5 pt-3">
              <h5><a href="{{url_for('home')}}">View site demo</a></h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}