<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="message">
        <h2>Email SENT BY VENDOR VIDEOS SERVICE CENTER</h2>
        <h3 style="padding-top: 20px;">Hey, now you can change your password through the link below</h3>
        <h3 style="padding-top: 15px;">But, if it was not you to request password reset don't confirm</h3>
        <h3 style="padding-top: 15px;">To confirm password reset <a href="{{url}}">click here</a> </h3>
    </div>
</body>
</html>