<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor Films{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type= "text/css" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type= "text/css" href="{{static_autoversion('bootstrap-4.5.2-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type= "text/css" href="{{static_autoversion('main.css')}}">
    <link rel="icon" href="{{static_autoversion('favicon.png')}}"> 
    {% block head %} 

    {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true)  %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-dismissible fade show">
                    <button class="close" data-dismiss="alert">&times;</button>
                    <strong class="{{category}}">{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</head>
<body>
    {% block body %}

    {% endblock %}
    <div class="page-footer mt-2 py-1">
        <h6 class="text-center"><span>Desinged by <a href="">david iyera</a> Copyright © 2021 & all rights reserved</span></h6>
    </div>
    <script src="{{static_autoversion('bootstrap-4.5.2-dist/js/jquery.min.js')}}"></script>
    <script src="{{static_autoversion('bootstrap-4.5.2-dist/js/popper.min.js')}}"></script>
    <script src="{{static_autoversion('bootstrap-4.5.2-dist/js/bootstrap.min.js')}}"></script>
</body>
</html>