{% extends "layout.html" %}

{% block title %}
 | admin interface
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container bg-light">
    <div class="form min-vh-100 d-flex justify-content-center">
        <div class="d-flex align-items-center">
            <form novalidate action="" method="POST" class="text-center">
                {{form.hidden_tag()}}
                <div class="form-header mb-5">
                    <h2>Now you password reset request was confirmed</h2>
                    <h5>Change it here</h5>
                </div>
                <div class="my-2">
                    <label for="assword_input" class="form-label">Password</label>
                    {{form.password_input()}}
                    {% if form.password_input.errors %}
                    {% for error in form.password_input.errors %}
                        <span class="error">{{error}}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="my-2">
                    <label for="confirm_password_input" class="form-label">Confirm password</label>
                    {{form.confirm_password_input()}}
                    {% if form.confirm_password_input.errors %}
                    {% for error in form.confirm_password_input.errors %}
                        <span class="error">{{error}}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form_footer py-4 mb-5">
                    {{form.submit()}}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}