{% extends "layout.html" %}

{% block title %}
 | home
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{static_autoversion('home.css')}}">
{% endblock %}


{% block body %}
<!--header-->
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
     <a class="navbar-brand text-secondary" href="{{url_for('home')}}">
        <i class="fa fa-film" aria-hidden="true"></i>
        Vendor videos
     </a>
     <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-target">
        <span class="navbar-toggler-icon"></span>
      </button>
     <div class="collapse navbar-collapse" id="collapse-target">
         <ul class="navbar-nav ml-auto">
             <li class="nav-item mx-5 pt-3">
                 <a href="{{url_for('recent_videos')}}" class="nav-link text-light">recent movies</a>
             </li>   
             <li class="nav-item mx-5 pt-3">
                 <a href="#" class="nav-link">about</a>
             </li>
             <li class="nav-item mx-5 pt-3">
                <a href="#" class="nav-link">contact</a>
             </li>
             <li class="nav-item dropdown ml-lg-5">
                <a href="#" class="nav-link dropdown-toggle" id="dropdownmenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" >
                   <img alt="" class="img-fluid rounded-circle" src="{{url_for('view_profile')}}"/>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownmenu1">
                    <li class="dropdown-item">
                       <a class="dropdown-item font-weight-bold" href="##">{{user.first_name}} {{user.last_name}}</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="dropdown-item">
                       <a class="dropdown-item" href="{{url_for('signout')}}">signout</a>
                    </li>
                </ul>
              </li>      
         </ul>
     </div>
    </div>
</nav>
<div class="container p-4">
    <div class="row">
    {% for video in videos %}
        <div class="col-md-3 my-2">
            <a href="{{url_for('single_video', video_id=video.video_id)}}">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('view_file', name=video.video_photo)}}" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text text-center">{{video.video_name}}</p>
                </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}